<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/logo.png">
</div>
<app-clock></app-clock>
<div>
  <p>The weather in Paris, Ontario is: {{ weatherDegrees | number:'.2' }} °C</p>
</div>
<div>
  <ul>
    <li><a routerLink="/aboot-us">About Us</a></li>
    <li><a routerLink="/our-customers">Our Customers</a></li>
    <li><a routerLink="/our-services">Our Services</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
